
@layer page {
	html, body {
		font-size: 12px;
		font-family: sans-serif;
		height: 100%;
	}

	html {
		color: var(--text);
		background: var(--bg);
		text-shadow: var(--text-shadow);
	}

	body {
		display: flex;
		flex-direction: column;

		.app {
			flex: 1 1 auto;
		}
	}
}

