
@layer page {
	html, body {
		font-size: 12px;
		font-family: sans-serif;
		height: 100%;
	}

	html {
		color: var(--text);
		background: var(--bg);
		text-shadow: var(--text-shadow);
	}

	.plate {
		width: 42em;
		max-width: 100%;
		margin: auto;
		padding: 2em;
		text-align: center;

		> h1 {
			font-size: 5em;
		}
	}
}

