
@layer vars {
	:root {
		--site-font-size: 18px;
		--site-width: 62em;
		--copy-width: 70ch;

		--bg: #111;
		--prime: #ebb935;
		--alpha: #307ba0;
		--intense: white;
		--text: color-mix(in lch, var(--alpha), white 50%);

		--link: cyan;
		--focus: 2px solid cyan;

		--box-shadow: 0 0.5em 2em #0008;
		--text-shadow: 0.04em 0.08em 0.1em #0008;

		--select-bg: #f60;
		--select-color: #ff8;

		--line: #ebb93588;
		--thin: 1px;
		--thick: 2px;
		--border: var(--thin) solid color-mix(in oklch, transparent, var(--line) 50%);

		--pad: 0.5em;
		--space: 1em;
		--shadow: 0.1em 0.2em 0.8em #0004;
		--anim: 300ms;
		--blur: 0.5em;
		--round: 0.5em;

		--happy: #0f0;
		--sad: #0af;
		--lame: #888;
		--angry: #f00;
	}
}

