
@layer app {
	benev-header {
		z-index: 2;
		position: absolute;
		inset: 0 0 auto;

		&[hide-links] > a {
			display: none;
		}
	}

	benev-loader {
		min-height: 100dvh;
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		min-height: 100dvh;
		padding-top: var(--benev-headroom);
		background: url("/assets/darkcity.webp") center center / cover;
	}

	.leader {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 img {
			width: 100%;
			max-width: 12em;
		}
	}
}

